
    <MudCard Style="width: 200px">
    <a href="@GetNavLink()">
        <MudCardMedia Image="@GetImagePath()" Height="150" />
        <MudCardContent>
            <MudText Typo="Typo.h6">@Name</MudText>
        <MudText Typo="Typo.body2">@Description</MudText>
        </MudCardContent>
    </a>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary">Add to planner</MudButton>
        </MudCardActions>
    </MudCard>

@code {
    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public string? Description { get; set; }

    public string? GetImagePath() => string.IsNullOrEmpty(Name) ? null : $"images/{Name.ToLower().Replace(' ', '-')}.jpg";

    public string? GetNavLink() => string.IsNullOrEmpty(Name) ? null : $"recipes/{Name.ToLower().Replace(' ', '-')}";
}
